.header{
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border-bottom: 2px solid #f6f6f6;
    position: sticky;

}

.header__menuIcon {
    color: black;
    cursor: pointer;
}

.header__left > img{
    padding-left: 30px;
    cursor: pointer;
}

.header__search {
    display: flex;
    margin-left: -50px;
    background-color: #F6F6F6;
    padding: 16px;
    box-shadow: inset 0px -1px 0px #E2E2E2;
}

.header__searchBorder{
    border-bottom: 2px solid black;
}

.header__search > input{
    background-color: #f6f6f6;
    width: 480px;
    outline: none;
    border-width: 0ch;
    font-size: 16px;
    font-weight: 500;
}

.header >button {
    text-transform: inherit;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.04);
    padding: 6px 15px;
    border-radius: 999px;
    font-weight: 300;
}

.header > button:hover{
        background: #CCCCCC;
    }